{% extends "pizzas/base.html" %}

{% block content %}

<p>Pizza: {{ pizza }}</p>

<ul>
    {% for topping in toppings %}
    <li>
        <p>{{ topping.date_added|date:'M d, Y H:i }} </p>
        <p>{{ topping.text|linebreaks }}</p>
        <p>
            <a href="{% url 'pizzas:edit_topping' topping.id %}">Edit topping</a>
        </p>

    </li>
    {% empty %}
    <li> Notoppings for this Pizza have been added yet.</li>
    { endfor %}

</ul>
<p>
    <a href="{% url 'pizzas:new_topping' pizza.id %}">Add a new topping</a>
</p>
{% endblock content %}