{% extends "pizzas/base.html" %}

{% block page_header %}
<h3>{{ pizza }}</h3>
{% endblock page_header %}


{% block content %}

<p>Pizza: {{ pizza.name }}</p>
<ul>
    {% for topping in toppings %}
    <li>
        <p>{{ topping.name|linebreaks }}</p>

        <p>
            <a href="{% url 'pizzas:edit_topping' topping.id %}">Edit topping</a>
        </p>
    </li>
    {% empty %}

    <li>No toppings for this pizza have been added yet.</li>

    {% endfor %}

</ul>
<p>
    <a href="{% url 'pizzas:new_topping' pizza.id %}">Add a new topping</a>
</p>
<ul>

    {% for comment in comments %}
    <li>
        <p> {{ comment.name|linebreaks }}</p>
    </li>
    {% empty %}

    <li>No comments for this pizza have been added yet.</li>

    {% endfor %}

    </li>

</ul>

<p>
    <a href="{% url 'pizzas:new_comment' pizza.id %}">Add a new comment</a>
</p>

{% endblock content %}